/*send form button*/
.sendButton {
    width: 55vw;
    height: 4vw;
    background-color: #ff9ff9;
    color: #730fc3;
    font-weight: 550;
    font-size: 1.5vw;
    border: none;
}

.sendButton:hover {
    box-shadow: 0.5vw 0.5vw #d466cd;
}