label {
    font-size: 1.5vh;
}

input {
    width: 40vw;
    padding: 1.5% 1.5%;
}

input:hover{
    background-color: #b2acfa;
    color: #ffffff;
}

select {
    width: 40vw;
    padding: 1.5% 1.5%;
}

select:hover{
    background-color: #b2acfa;
    color: #ffffff;
}

textarea {
    width: 55vw;
    height: 25vw;
    justify-content: left;
    margin-bottom: 5%;
    resize: none;
}

textarea:hover{
    background-color: #b2acfa;
    color: #ffffff;
}

.siteForm {
    justify-items: center;
}

