label {
    font-size: 1.5vh;
}

input {
    width: 40vw;
    padding: 1.5% 1.5%;
}

select {
    width: 40vw;
    padding: 1.5% 1.5%;
}

textarea {
    width: 55vw;
    height: 25vw;
    justify-content: left;
    margin-bottom: 5%;
    resize: none;
}

.siteForm {
    justify-items: center;
}