@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&display=swap');

.full {
	background: rgba(36, 58, 90, 1);
	min-height: 100vh;
}

.description {
	font-family: 'Inter', sans-serif;
	font-weight: 200;
	font-size: 4vh;
}

.align {
	padding: 21.5vh 0 5vh 0;
}

.btn {
	width: 12vh;
	height: 12vh;
}