/*introduction box*/
.boxIntro {
    width: 60%;
    height: 30%;
    padding: 10%;
    background-color: #ff9ff9;
    box-shadow: 10px 10px #d466cd;
    margin: 3% auto 3% auto;
}

/*projects box*/
.boxProj {
    width: 60%;
    height: 35%;
    padding: 1%;
    background-color: #ff9ff9;
    ;
    margin: 1% auto 1% auto;
    border-radius: 9999px;
    display: flex;
}

/*recommendation box*/
.boxRec {
    width: 60%;
    height: 35%;
    padding: 10px;
    background-color: #ff9ff9;
    ;
    margin: 1% auto 1% auto;
    border-radius: 9999px;
}
textarea {
    resize: none;
}


/*map box*/
.boxMap {
    width: 60%;
    height: 30%;
    margin: 1% auto 1% auto;
    border-radius: 50%;
}

.links {
    margin: 2% auto 2% auto;
}