/*grid for form*/
.formWrapper {
    display: grid;
    grid-auto-columns: 2fr;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.8fr 0.2fr;
    gap: 1% 1%;
    grid-template-areas:
        "info motive"
        "comment comment"
        "send send";
}

.info {
    grid-area: info;
}

.motive {
    grid-area: motive;
}

.comment {
    grid-area: comment;
}

.send {
    grid-area: send;
}